         <!-- esse produto é a variavel que recebe produtos-->
         <section class="product-list">                            <!-- esse produtos criamos essa variavel na classe que recebeu a lista-->
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "maquiagem" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/4.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Maquiagem</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "unha" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/1.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Unha em gel</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
          <div class="product-list__card">  <!-- esse ngFor renderiza a lista de produtos-->
            <a routerLink= "penteado" class="product-list__link ">   <!-- vai rotear, fazer link com nome produto/id (nesse caso é rotemento com paramentro, após colocar aqui (tem que criar um componet do click, e um componente do 404!pagina nao encontrada)-->
              <img src="./assets/3.jpg">       <!-- tem que colocar dentro de colchete quando tiver recebendo uma lista-->  <!-- antes deixei em branco src=";"-->
              <h2 class="product-item__name">Penteado</h2>      <!-- aqui antes só tinha o nome inicial, agora que coloco definitivo  antes só tinha Produto1 sem os colchetes-->
              <button class="product-item__buy-button" type="button">Veja mais</button>
            </a>
          </div>
        </section>