.product-list {
    padding: 20px 0;
    width: fit-content;
    display: flex;
    gap: 105px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center ;
    margin-top: 3rem;
    margin-left: 20px;
    
    
}

.product-list__card {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 380px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) ;
    margin-bottom: 15px;
}

.product-list__card:hover {
    outline: 1px solid pink;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.product-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-decoration: none;
}

.product-list__card img {
    height: 250px;
    width: 250px;
    display: block;
    border-radius: 4px;
}

.product-item__name {
    font-size: 24px;
    color: rgb(238, 81, 107);;
}
.product-item__price {
    color: var(--orange);
    font-size: 32px;
   
}

.product-item__price-description {
    color: var(--gray);
    font-size: 12px;
    
}

.product-item__buy-button {
    background-color: pink;
    border: none;
    color: var(--gray);
    font-size: 22px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {

    background-color: rgb(238, 81, 107);
    color: #FFF;
    filter: brightness(1.1);
    cursor: pointer;
}

